<h2>Log in</h2>

<%= form_with url: email_login_path, method: :post, local: true do %>
  <div class="field">
    <%= label_tag :email, "Email address" %><br>
    <%= email_field_tag :email, params[:email], required: true, autofocus: true %><br>
  </div>

  <div class="actions">
    <%= submit_tag "Send login code" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
